body {
  font-family: Arial, Helvetica, sans-serif;
  background: #2f3241;
  -webkit-app-region: drag;
  margin: 50px 0 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #f8f1ff20;
  border: 3px solid #2f3241;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #2f3241;
}

button,
input {
  -webkit-app-region: no-drag;
  color: #f8f1ff;
  background: transparent;
  outline: none;
  border: none;
}

svg {
  height: 12px;
}

button,
svg rect {
  transition: 0.3s ease-in-out all;
}

button:hover svg rect {
  fill: #74b1be;
  stroke: #74b1be;
}

input::placeholder {
  color: #f8f1ff80;
  font-style: italic;
}

form {
  border: 1px solid #f8f1ff80;
  width: 55%;
  margin: 0 auto 15px;
  padding: 8px;
  border-radius: 3px;
}

ul {
  border-right: 1px solid #f8f1ff40;
  border-left: 1px solid #f8f1ff40;
  width: 75%;
  margin: 2px auto 20px;
  padding: 12px 0;
  max-height: 105px;
  overflow-y: auto;
  -webkit-app-region: no-drag;
}

li {
  list-style: none;
  display: flex;
  width: 85%;
  margin: 0 auto 15px;
  justify-content: space-between;
  border-bottom: 1px solid #f8f1ff40;
}

.title {
  font-size: 12px;
  font-style: italic;
  color: #f8f1ff40;
}

.removeApp:hover {
  color: #f05365;
}

.blockedApplications {
  color: #f8f1ff40;
  display: block;
  margin-left: 48px;
  font-size: 12px;
  font-style: italic;
}
