:root {
  --main-text: #f9f9ed87;
  --medium-text: #f9f9ed60;
  --disabled-text: #f9f9ed38;
  --blue-light: #74b1be10;
  --primary-blue: #74b1be;
  --red: #d35269;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #2f3241;
  -webkit-app-region: drag;
  margin: 50px 0 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #f8f1ff10;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

section {
  padding-inline: 40px;
  position: relative;
  height: 500px;
}

.ws-manager-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 25px;
}

button,
input {
  -webkit-app-region: no-drag;
  color: var(--main-text);
  background: transparent;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

svg {
  height: 12px;
}

button,
svg rect {
  transition: 0.3s ease-in-out all;
}

button:hover svg rect {
  fill: var(--primary-blue);
  stroke: var(--primary-blue);
}

input::placeholder {
  color: var(--main-text);
  font-style: italic;
}

form {
  border-bottom: 1px solid var(--main-text);
  padding: 0 8px 2px 0;
  margin-block-start: 25px;
  margin-block-end: 15px;
  inline-size: 65%;
}

form button {
  padding: 0 5px 0 0;
}

ul {
  border-right: 1px solid var(--blue-light);
  border-left: 1px solid var(--blue-light);
  padding: 12px 0;
  max-height: 205px;
  overflow-y: auto;
  -webkit-app-region: no-drag;
  margin-block-start: 2px;
}

li {
  list-style: none;
  display: flex;
  width: 85%;
  margin: 0 auto 15px;
  justify-content: space-between;
  border-bottom: 1px solid var(--blue-light);
}

.title {
  font-size: 0.75rem;
  font-style: italic;
  color: var(--medium-text);
}

.removeApp:hover {
  color: var(--red);
}

.blockedApplications {
  color: var(--disabled-text);
  display: block;
  font-size: 0.75rem;
  font-style: italic;
}

.save-workspace {
  background: #74b1be95;
  padding: 8px 12px;
  border-radius: 2px;
  color: #f9f9ed99;
}

.save-workspace:hover {
  background: var(--primary-blue);
}

#workspaceNameInput {
  border: 1px solid var(--main-text);
  padding: 8px 12px;
  border-radius: 2px;
  width: 45%;
}

.delete-cancel-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 80px);
  bottom: 0;
  align-items: center;
}

.delete-workspace {
  background: #d3526995;
  padding: 8px 12px;
  border-radius: 2px;
  color: #f9f9ed99;
}

.delete-workspace:hover {
  background: var(--red);
}

#cancel {
  color: var(--disabled-text);
  text-decoration: underline;
}
